<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- usesCleartextTraffic:开发期后端是 http(局域网 IP),允许明文;上线应改 https -->
    <application
        android:name=".ReaderApplication"
        android:label="书域阅读"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ReaderApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
